/*.swp
/*.fdb_latexmk
/*.fls
/tags
/.env
/*.aux
/*.log
/*.toc
/*.pdf
/*.gz
/**/*.fdb_latexmk
/**/*.fls
/**/tags
/**/*.aux
/**/*.log
/**/*.gz
/**/*.toc
/**/*.pdf
/**/*.swp
/**/**/*.fdb_latexmk
/**/**/*.fls
/**/**/tags
/**/**/*.aux
/**/**/*.gz
/**/**/*.log
/**/**/*.toc
/**/**/*.pdf
/**/**/*.swp
